@model IEnumerable<ProjectMVC.Models.Discountcoupon>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Couponcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discountpercentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expirationdate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Couponcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discountpercentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expirationdate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Couponid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Couponid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Couponid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
