
@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.32/dist/sweetalert2.all.min.js"></script>
	<link href="~/css/sweetalert2.min.css" rel="stylesheet">
</head>



<main class="main">
	<div class="page-header text-center" style="background-image: url('/assets/images/page-header-bg.jpg')">
		<div class="container">
			<h1 class="page-title">Checkout<span>Shop</span></h1>
		</div><!-- End .container -->
	</div><!-- End .page-header -->
	<nav aria-label="breadcrumb" class="breadcrumb-nav">
		<div class="container">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="index.html">Home</a></li>
				<li class="breadcrumb-item"><a href="#">Shop</a></li>
				<li class="breadcrumb-item active" aria-current="page">Checkout</li>
			</ol>
		</div><!-- End .container -->
	</nav><!-- End .breadcrumb-nav -->

	<div class="page-content">
		<div class="checkout">
			<div class="container">
				
				<form asp-action="CheckoutProcess">
					<div class="row">
						<div class="col-lg-9">
							<h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
							@{
								var userName = Context.Session.GetString("UserName");
								
							}
							<label>Your Name *</label>
							<input type="text" value="@userName" class="form-control" required>

							<label>Address *</label>
							<input name="address" type="text" class="form-control" required>

							<label>Phone number *</label>
							<input name="phoneNumber" type="text" class="form-control" required>

						</div><!-- End .col-lg-9 -->
						<aside class="col-lg-3">
							<div class="summary">
								<h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

								<table class="table table-summary">
									<thead>
										
									</thead>

									<tbody>
										
										<tr class="summary-subtotal">
											<td>Subtotal:</td>
											<td> @ViewBag.TotalPrice @ViewBag.CurrencyCode</td>
										</tr><!-- End .summary-subtotal -->
										<tr>
											<td>Shipping:</td>
											<td>Free shipping</td>
										</tr>
										<tr class="summary-total">
											<td>Total:</td>
											<td> @ViewBag.TotalPrice @ViewBag.CurrencyCode</td>
										</tr><!-- End .summary-total -->
									</tbody>
								</table><!-- End .table table-summary -->

								<div class="accordion-summary" id="accordion-payment">
									<div class="card">
										<div class="card-header" id="heading-1">
											<h2 class="card-title">
												<a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
													Direct bank transfer
												</a>
											</h2>
										</div><!-- End .card-header -->
										<div id="collapse-1" class="collapse show" aria-labelledby="heading-1" data-parent="#accordion-payment">
											<div class="card-body">
												Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order will not be shipped until the funds have cleared in our account.
											</div><!-- End .card-body -->
										</div><!-- End .collapse -->
									</div><!-- End .card -->

									
								</div><!-- End .accordion -->
								@if (ViewBag.CartCount == 0)
								{
									<button type="submit" class="btn btn-primary w-100" disabled>

										Proceed to Checkout
										<i class="icon-long-arrow-right"></i>

									</button>
									<div class="text-center">
										<span>Cart is empty</span>
									</div>
									
								}
								else
								{
									<button type="submit" class="btn btn-primary w-100">
										
											Proceed to Checkout
										<i class="icon-long-arrow-right"></i>
										
									</button>
								}
							</div><!-- End .summary -->
						</aside><!-- End .col-lg-3 -->
					</div><!-- End .row -->
				</form>
				
			</div><!-- End .container -->
		</div><!-- End .checkout -->
	</div><!-- End .page-content -->
</main><!-- End .main -->
@if (ViewData["BalancError"] != null)
{
	<script>
		Swal.fire({
			icon: 'error',
			title: 'Oops..',
			text: '@ViewData["BalancError"]',
		})
	</script>
}


