@model IEnumerable<ProjectMVC.Models.Currency>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Currencycode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currencyname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exchangetobase)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Currencycode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currencyname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exchangetobase)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Currencyid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Currencyid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Currencyid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
